/* body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 21px;
  line-height: 24px;
}

h2 {
  font-size: 17px;
  line-height: 19px;
}

h3 {
  font-size: 15px;
  line-height: 19px;
}

h4 {
  font-size: 13px;
  line-height: 17px;
}

li {
  font-size: 11px;
}

blockquote {
  font-size: 11px;
  padding-left: 8px;
  border-left: 2px solid #000;
}

p {
  font-size: 11px;
}

.lid {
  font-size: 12px;
  opacity: 50%;
  line-height: 20px;
} */
